<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MangoDB Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-pink-100 flex justify-center items-center h-full">
<div class="w-full max-w-4xl p-6 bg-white rounded-lg shadow-md h-full">
    <h1 class="text-pink-600 text-3xl font-semibold mb-6 text-center">
       Create Post
    </h1>
    <div class="space-y-4">
        <form id="postForm" class="flex flex-col">
            <label for="title" class="mb-4">Title:</label>
            <input type="text" id="title" name="title" class="border border-gray-300 rounded-lg py-2 px-4">
            <label for="content" class="mb-4">Content:</label>
            <textarea id="content" name="content" rows="4" cols="50" class="border border-gray-300 rounded-lg py-2 px-4"></textarea>
            <button type="button" onclick="createPost()" class="bg-pink-600 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded-lg w-full">Create Post</button>
        </form>


    </div>
    <div class="mt-6">
        <a href="/" class="block px-4 py-2 border-2 border-pink-600 rounded-lg hover:bg-pink-600 hover:text-white transition duration-300 w-full text-center text-lg">Home</a>
    </div>
</div>
</body>
<script>
    function createPost() {
        var title = document.getElementById('title').value;
        var content = document.getElementById('content').value;

        var post = {
            title: title,
            content: content,
        };

        fetch('/create_post', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(post)
        }).then(response => {
            if (response.ok) {
                window.location.href = '/'
            }
        });
    }
</script>
</html>